# Environment variables
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/

# Database
backend/instance/*.db

# ZIP files
*.zip

# Node modules
node_modules/

# Build folders
dist/
build/

# Logs
*.log

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db